h1 {
	font-family:'Orbitron', sans-serif;
	text-align:center;
}

svg {
	display:block;
	margin:auto;
}

.main {
	width:75%;
	margin:auto;
	padding:10px;
}

.countries {
    stroke:#f7f7f7;
    fill:#d9d9d9;
}

#graticules {
	fill:none;
	stroke:gray;
	stroke-width:1px;
	opacity:0.1;
}

.meteors {
	fill: red;
	stroke: red;
}

.fireballs {
	fill: orange;
	stroke: orange;
	stroke-width:1px;
	opacity: 0.6;
}

table {
    border-collapse: collapse;
    font: 14px sans-serif;
    width: 850px;
}

th {
    font-weight: normal;
    text-align: right;
    padding-right: 6px;
    min-width: 125px;
}

thead td , th{
    cursor: s-resize;
}

tr {
	height: 30px;
}

tbody tr:first-child td {
    padding-top: 2px;
}

tbody tr {
    border: 1px solid grey;
}

tbody th{
    cursor:pointer;
    font-weight: bold;
}

td {
	padding-left: 5px;
}

tbody tr:hover {
    background-color: #dbdbdb;
}

.selected {
    fill: blue;
    stroke: blue;
}

.background {
	opacity: 0.1;
	fill: grey;
	stroke: grey;
}